* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.bg-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
}

.login-h1 {
  font-size: 50px;
  font-weight: bold;
  color: #000000;
}
